.navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px 0px;
  box-shadow: 0 0 5px #aaa;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}
.brand-image {
  padding: 5px 12px;
}
.brand-image img {
  width: 105px;
}
.category{
  padding: 5px 10px;
  display: flex;
  align-items: center;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}
.category img{
  width: 20px;
  margin-right: 5px;
}
.input-search {
  position: relative;
}
.input-search input {
  width: 385px;
  height: 38px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
}
.input-search input:focus {
  border: 1px solid #71a2e3;
}
.input-search img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.cart-icon,
.bell-icon {
  box-sizing: border-box;
  padding: 10px;
  line-height: 1;
}
.cart-icon img,
.bell-icon img {
  cursor: pointer;
  width: 23px;
}
.vertical-line {
  border-left: 1px solid #ccc;
  height: 40px;
}
.btn-login {
  padding: 0px 12px;
}
.btn-login a {
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 18px;
  box-sizing: border-box;
  background-color: rgb(15, 124, 208);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  line-height: 1;
  text-decoration: none;
  font-weight: 500;
}
.btn-login button:hover {
  background-color: rgb(14, 110, 184);
}
